<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieWeb APP | Sign-in</title>
</head>
<body>
  <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Users</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" action="/" method="POST">
          <input class="form-control me-2" type="email" name="email" placeholder="Email" required aria-label="Email">
          <input class="form-control me-2" type="password" name="password" placeholder="Password" required aria-label="Password">
          <button class="btn btn-outline-success" type="submit">login</button>
          <a href="/register">
            <button class="btn btn-outline-info" type="button" style="margin-left: 5px;">Register</button>
          </a>
        </form>
      </div>
    </div>
  </nav>

  <!-- END OF NAVBAR -->

  <!-- CAROUSEL -->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/images/carousel-01.jpg" class="d-block w-100" alt="A picture of Joker movie" style="height: 717px;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="font-size: 150px;">Join Today!</h1>
        <p style="font-size: 30px;">Your gateway to cinematic adventures.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/images/carousel-02.jpg" class="d-block w-100" alt="A picture of Arcane movie" style="height: 717px;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="font-size: 150px;">Explore Movies!</h1>
        <p style="font-size: 30px;">Discover endless movie magic.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/images/carousel-03.jpg" class="d-block w-100" alt="A picture of Batman movie" style="height: 717px;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="font-size: 150px;">Rate & Review!</h1>
        <p style="font-size: 30px;">Unleash the power of storytelling.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- END OF CAROUSEL -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  </body>
</html>
