<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>{{ movie_title }} | Review</title>
</head>
<body>
      <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ user_name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- END OF NAVBAR -->

  <!-- BEGINNING OF HERO SECTION -->
  <div class="container-lg">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{ movie_poster }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="250" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ movie_title }}</h1>
      <p class="lead">{{ movie_plot }}</p>
      <div class="mb-3" style="margin-top: 50px;">
        <form action="/users/{{ user_id }}/add_review/{{ movie_id }}" method="POST">
            <input class="form-control" style="margin-bottom: 20px;" type="text" id="rating" name="rating" placeholder="Rate {{ movie_title }} (0 - 9)">
            <textarea class="form-control" id="review" name="review" rows="4" placeholder="Write your review here. . ."></textarea>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="margin-top: 20px;">
                <button type="submit" value="Submit Review" class="btn btn-outline-success btn-lg px-4 me-md-2">Submit</button>
                <a href="/users/{{ user_id }}">
                    <button type="button" class="btn btn-outline-info btn-lg px-4">Back</button>
                </a>
            </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <!-- END OF HERO SECTION -->

  <!-- DIVIDER -->
  <div class="b-example-divider" style="width: 100%; height: 3rem;"></div>
  <!-- DIVIDER END -->

  <!-- BEGINNING OF REVIEWS -->
  <div class="container-lg">
    <h2>Reviews</h2>
    <section style="background-color: #e7effd;">
        <div class="container my-5 py-5 text-dark">
          <div class="row d-flex justify-content-center">
            <div class="col-md-11 col-lg-9 col-xl-7">
            {% for review in previous_reviews %}
              <div class="d-flex flex-start mb-4">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
                  height="65" />
                <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="">
                      <h5>User {{ review.user_id }}</h5>
                      <p class="small">3 hours ago</p>
                      <p>Rating: {{ review.rating }}</p>
                      <p>{{ review.review_text }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                          <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                        </div>
                        <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            </div>
          </div>
        </div>
      </section>
  </div>
<!-- END OF REVIEWS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
